@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.nowrap {
  white-space: nowrap;
}

body {
 
  margin:0;
  height: 100%;
  
}

input,
button,
textarea,
select {
  font: inherit;
}


#root {
  color: black;
  font-family: 'Poppins', sans-serif;background-color: #455d7a;
  background-image: url('./assets/img1.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;

  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: whitesmoke;
}

a:hover,
a:focus-visible {
  color: whitesmoke;
}

.dash-footer {
  text-align: center;
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #0F172A;
  padding: 0.5em;
  border-top: 1px solid #FFF;
  gap: 1em;
}

/* public page style */
.public-container {
  padding: 7rem 0;
  text-align: center;
  color: rgb(190, 235, 241);
  margin-bottom: 1rem;
}

.public-container p {
  line-height: 1.5;
  padding: 3rem 0;
  color: rgb(220, 238, 213);
}

.public-container .link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem;
}


.public-container #login {
  padding: 20px 60px;
}

.public-container #register {
  padding: 20px 40px;
}

/* dash header style */
.dash-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b2430;
  padding: 20px 20px;
}

#nav-link, #title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.menu-items{
  padding: 0px 20px;
  position: relative;
}

.menu-items button{
  display: flex;
  align-items: center;
}

.menu-buttons {
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: none;
  color: #FFF;
}

.menu-items:hover,
.menu-items:focus-visible {
  transform: scale(1);
  color: #17cf97;
}

.menu-items:hover::after{
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background: #17cf97;
    position: relative;
    bottom: 5px;
}

.menu-buttosn[disabled] {
  visibility: hidden;
}

.icon-buttons{
  font-size: 0.8rem;
  padding-bottom: 3px;
  padding-right: 5px;
}

#mobile,
.toggle-button{
  display: none;
  color: #FFF;
}

p{
  color: #FFF;
}

#loading{
  background-image: none;
  height: 100vh;
}

@media screen and (max-width: 764px) {
  #nav-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #2a3239;
    position: fixed;
    height: 100vh;
    width: 50%;
    right: -50%;
    padding: 80px 0 0 10px;
    top: 0px;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  #nav-link.active{
    right: 0;
  }
  .menu-items{
    margin-bottom: 24px;
  }
  .toggle-button{
    display: block;
    padding-right: 40px;
    position: absolute;
    top: 1.2rem;
    right: 0;
    font-size: 26px;
    cursor: pointer;
  }
  #mobile{
    display: block;
    font-size: 24px;
    padding-right: 20px;
    cursor: pointer;
  }
}