@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.nowrap {
  white-space: nowrap;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  margin:0;
  height: 100%;
  background-color: #455d7a;
  background-image: url('./assets/img1.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: whitesmoke;
}

a:hover,
a:focus-visible {
  color: whitesmoke;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: #FFF;
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

.dash-footer {
  text-align: center;
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #0F172A;
  padding: 0.5em;
  border-top: 1px solid #FFF;
  gap: 1em;
}

/* public page style */
.public-container {
  padding: 7rem 0;
  text-align: center;
  color: rgb(190, 235, 241);
  margin-bottom: 1rem;
}

.public-container p {
  line-height: 1.5;
  padding: 3rem 0;
  color: rgb(220, 238, 213);
}

.public-container .link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem;
}


.public-container #login {
  padding: 20px 60px;
}

.public-container #register {
  padding: 20px 40px;
}

/* dash header style */
.dash-header {
  justify-content: center;
  align-items: center;
  background-color: #ffb6b9;
}

.dash-header .title-container {
  flex: 3;
  padding: 15px 5px;
  color: #FFF;
  display: inline-block;
}

.dash-header .icon-container {
  flex: 1;
}

.dash-header .icon-container button {
  border: 0px;
  background-color: #ffb6b9;
}

p{
  color: #FFF;
}